@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ffffff;
  --color-secondary: #5c5c5c;
  --color-accent: #ff4d00;
  --color-text: #0a0a0a;
  --color-background: #dcdcdc;
  --color-foreground: #f0eeee;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
